{% extends "admin/base.html" %}
{% block admin %}
<!-- Using bulma to organize this admin area. See https://bulma.io/documentation/overview/ -->
<div class="container is-fluid">
    <!-- notification area begins here -->
    <div class="notification {{css}}">
        {{title}}:&nbsp;&nbsp;&nbsp;{{information}}
    </div>
    <!-- notification area ends here -->
    <!-- Admin specific menu header begins here. We are using bulma CSS tabs class with is-boxed specifier -->
    <div class="tabs is-boxed">
        <ul>
            <li class="is-active"><a>Inventory</a></li>
            <li><a>Manage Database</a></li>
        </ul>
    </div>
    <!-- Admin specific menu ends here -->

    <div class="container is-fluid">
        <!-- Put an Add New Customer link-->
        <a class="fa fa-plus" onclick="addIsActiveClassToElement('customer-add')">Add New Product</a>
        <!-- Put a modal customer add form here following bulma CSS approach. Inactive by default-->
        <div id="customer-add" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <form method="post" action="/admin/inventory/add-product/" onload="document.getElementById('Date_of_Birth').value=new Date()">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Add New Product</p>
                    </header>
                    <section class="modal-card-body">
                        <div class="field">
                            <label class="label">Product Name</label>
                            <div class="control">
                                <input name="Produce_Name" class="input" type="text" placeholder="Enter name of product" maxlength="20" required>
                            </div>
                            <p class="help">The Product name should not be more than 20 letters</p>
                        </div>
                        <div class="field">
                            <label class="label">Product Description</label>
                            <div class="control">
                                <input name="Produce_Description" class="input" type="text" placeholder="Enter name of product here" maxlength="100" required>
                            </div>
                            <p class="help">The Product Name should not be more than 100 characters</p>
                        </div>
                        <div class="field">
                            <label class="label">Photo URL</label>
                            <div class="control">
                                <input name="Photo_URL" class="input" type="text" placeholder="Enter URL of Product Photo" maxlength="2083" required>
                            </div>
                            <p class="help">Link to Product Image</p>
                        </div>
                        <div class="field">
                            <label class="label">Weight (in KG)</label>
                            <div class="control">
                                <input name="Weight" class="input" type="number" placeholder="Enter the weight in KG here" maxlength="20" required>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Price (per unit)</label>
                            <div class="control">
                               <input name="price_per_unit" class="input" type="number" step="0.01" placeholder="Enter product price here" maxlength="20" required>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Quantity</label>
                            <div class="control">
                                <input name="Quantity" class="input" type="integer" placeholder="Enter available quantity here" maxlength="20" required>
                            </div>
                        </div>
                    </section>
                    <footer class="modal-card-foot">
                        <input type="submit" value="Submit" class="button">
                        <input class="button" value="Cancel" onclick="removeIsActiveClassFromElement('customer-add')">
                    </footer>
                </form>
            </div>
            <button class="modal-close" aria-label="close"
                    onclick="removeIsActiveClassFromElement('customer-add')"></button>
        </div>
        <!-- modal add form ends here -->
        <!-- Show existing customers using bulma table class -->
        <table class="table is-striped is-hoverable ">
            <thead>
            <tr>
                <th>Produce Name</th>
                <th>Description</th>
                <th>Photo URL</th>
                <th>Weight</th>
                <th>Price (per unit)</th>
                <th>Quantity</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for product in produce %}
            <tr>
                <td>{{product.Produce_Name}}</td>
                <td>{{product.Produce_Description}}</td>
<!--                <td>{{product.Photo_URL}}<img src = {{product.Photo_URL}}></td>-->
                <td><img src = {{product.Photo_URL}} width="100" height="100"></td>
                <td>{{product.Weight}}</td>
                <td>{{product.price_per_unit}}</td>
                <td>{{product.Quantity}}</td>
                <td><a class="button" href="/admin/inventory/edit/{{product.id}}/">Edit</a></td>
                <td><a class="button" href="/admin/inventory/delete/{{product.id}}/" onclick="return confirm('Are you sure you want to delete?')">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
 function addIsActiveClassToElement(elementId){
  var element = document.getElementById(elementId);
  element.classList.add("is-active");
 }
 function removeIsActiveClassFromElement(elementId){
  var element = document.getElementById(elementId);
  element.classList.remove("is-active");
 }

</script>
{% endblock%}